*{
  font-family: "Times New Roman", serif;           /*Setting default font style*/
}

h1 {
  font-size: 2em;                                   /*Setting title font size*/
  font-weight: bold;                                /*Bolding title*/
  text-align: center;                               /*Centering title*/
  color: #453534;                                   /*Setting title text color*/
  text-shadow: 1px 1px #b4efb9;                     /*Creating title shadow effect*/
}

body {
  background: rgb(215,161,161);									                                          /*Creating a color gradient for the body of the page between the main colors of the header and footer images.*/
  background: linear-gradient(180deg, rgba(215,161,161,1) 0%, rgba(184,72,50,1) 100%);		/*Artistic intent: A kitschy theme about the passage of time using pink cherry blossoms from spring and red maple leaves from autumn*/
}

h2 {
  font-size: 1.5em;                                 /*Enlarging author name*/
  font-weight: bold;                                /*Bolding author name*/
  text-align: right;                                /*Sending author name to right*/
  color: #453534;                                   /*Setting color of author's name*/
  text-shadow: 1px 1px #b4efb9;                     /*Creating name shadow effect*/
}

h3 {
  font-size: 2em;                                   /*Setting size of References subtitle*/
  font-weight: bold;                                /*Bolding ToC & References subtitles*/
  text-align: center;                               /*Centering ToC & References subtitles*/
  color: #DD9787;                                   /*Setting color of Table of Contents & References subtitles*/
  background-color: inherit;                        /*Setting background colors of Table of Contents & References subsections to the background colors of the sections in which they're respectively nested*/
  text-decoration-line: underline;                  /*Underlining ToC & References subtitles*/
  text-shadow: 0px 1px 0px rgba(0,0,0,.5); 	        /*Creating subtitle shadow effect*/
}

h3.toc {
  font-size: 1.5em;						                          /*Setting size of Table of Contents subtitles*/
  font-family: "Luminari", "Times New Roman", serif;		/*Setting font family of ToC, where possible*/
  text-decoration: none;					                      /*Removing underline*/
}

h4 {
  font-size: 1.25em;                                /*Setting size of essay section titles*/
  color: #6e46b9;                                   /*Setting color of essay section titles*/
  font-weight: bold;                                /*Bolding essay section titles*/
  margin-bottom: -.25em;                            /*Decreasing space below essay section titles*/
  margin-top: -.1em;                                /*Decreasing space above essay section titles*/
  margin-left: .75em;                               /*Making essay section subheadings approximately flush with paragraphs*/
}

h5 {
  font-weight: bold;				   			    			      /*Bolding essay subsection titles*/
  color: #eefaac;				   			    			    		  /*Setting color of subsection titles*/
  font-style: italic;				    			    			    /*Italicizing subsection titles*/
  font-size: 1.07em;	                     			    /*Setting size of subsection titles*/
  margin-bottom: -.25em;                            /*Decreasing space below essay section titles*/
  margin-top: -.1em;                                /*Decreasing space above essay section titles*/
  margin-left: .75em;                               /*Making essay section subheadings approximately flush with paragraphs*/
}

figure {
  overflow: auto;				    			    			    		/*Preventing figures, which contain images and captions, from spilling outside of their borders*/
}

p {
  text-indent: 2em;                                 /*Indenting first line of paragraphs*/
  margin-left: 1em;                                 /*Giving paragraphs extra space on left*/
  margin-right: 2em;                                /*Giving paragraphs extra space on right*/
  color:  white;                                    /*Setting paragraph text color*/
  line-height: 1.35em;                              /*Increasing line height to improve readability*/
  font-size: 1em;				    			    			    		/*Standardizing paragraph text size in effort to prevent resizing of paragraphs in grids*/
}


li {
  margin-right: 2em;                                /*Giving list items extra space on right*/
  background-color: inherit;                        /*Setting background color of list items to the background color of the section in which they're nested*/
  color: white;					    			    			    		/*Setting list item color*/
}

ol {
  background-color: inherit;                        /*Setting background color of lists to the background color of the section in which they're nested*/
}

.quest {
 text-indent: 2em;				    			    			    	/*Indenting list containing research questions*/
 list-style-position: inside;		    	              /*Grouping a list item's numbering with its content so that both are idented*/
}

a:link {
  color: #3252b8;			    	    			    			    /*Setting default color of linked elements*/
}

a:visited {
  color: #87b832;			    	   			    			       /*Setting color of visited linked elements*/
}

ol.toc {
  color: yellow;				   			    			    			 /*Setting color of ToC list content*/
}

a.toc {
  background-color: inherit;                         /*Setting background color of linked elements of the toc class to the background color of the section in which they're nested*/
  color: #a2dd87;                                    /*Setting color of ToC's list items*/
  text-decoration: none;                             /*Removing underline from linked ToC elements*/
  text-shadow: 0px 1px 0px rgba(0,0,0,.5);           /*Adding shadow to ToC linked elements to increase readability*/
  line-height: 1.25;                                 /*Increasing space between ToC lines for readability*/
}

p.ref {                                              /*Creating a hanging-ident effect for references for stylistic reasons*/
  max-width: 80%;
  padding-left: 2em;
  text-indent: -2em;
}

p.photoCredit {                                      /*Making special thanks for Unsplash photos flush on left.*/
  text-indent: 0em;
}

section.header {                                     /*Inserting a centered photo that will cover the whole background of the header section.*/
	background-image: url("pinkFlowers.jpg");
  background-size: cover;
  background-position: center;
  }

footer {                                              /*Inserting a photo that will cover the whole background of the footer.*/
	background-image: url("redLeaves.jpg");
  background-size: cover;
}

img {
  max-width: 100%;                                    /*Limiting amount of horizontal screen space an image can occupy*/
  width: 60%;                                         /*Establishing how much of the screen's width an image should extend*/
  height: auto;                                       /*Ensuring image height remains proportionate as image width adjusts*/
  max-height: 90%;                                    /*Limiting how much of the screen's vertical space an image can occupy*/
  margin: 1.25em;                                     /*Creating a buffer around images to improve readability of text*/
}


p.footer {
  padding: .5em;                                      /*Extending area around paragraphs in the footer*/
  color: white;                                       /*Assigning text color of paragraphs in the footer*/
  text-shadow: 2px 2px #037d8b;                       /*Adding shadows to paragraphs in footer to increase contrast against image background*/
}

a.footer {                                            /*Creating a "Contact author" link that resembles a button*/
  color: white;                                       /*Assigning footer linked text color*/
  text-decoration:none;                               /*Removing default underlining of links in footer*/
  border-style: ridge;                                /*Creating a raised border around links in footer*/
  padding: .25em;                                     /*Extending area around linked text in footer*/
  text-align: center;                                 /*Centering linked text in its box*/
  background-color: black;
}

a:hover {                                             /*Changing text and background colors of links being hovered over to make interactability more apparent*/
  background-color: #87b832;
  color: #3252b8;
}

.toc {                                                /*Creating a class to change the background color of Table of Content elements*/
  background-color: #32a2b8;
}

section.toc {
  border-style: outset;                               /*Creating "popped out" border for Table of Contents section*/
  width: 40%;                                         /*Establishing how much of the screen's width the section should extend*/
  float: left;                                        /*Floating section to the left to let text wrap around it*/
  margin-bottom: 2em;                                 /*Adding extra space beneath section for readability*/
  margin-right: 2em;                                  /*Adding extra space to the right of section for readability*/
  overflow: auto;                                     /*Preventing ToC elements from spilling out of their section during screen resizing*/
}


.right {
  float: right;                                       /*Floats element to the right to permit text-wrapping*/
  width: auto;                                        /*Width automatically adjusts based on surrounding elements*/
}

.left {
  float: left;                                        /*Floats element to the left*/
  width: auto;                                        /*Width automatically adjusts based on surrounding elements*/
}

.leftHome {
  float: left;                                        /*Floats element to the left*/
  width: 40%;                                         /*Limits how much of screen's width the element may extend*/
}

img.left {
  width: 90%;                                         /*Increasing width of center image relative to the figure containing it*/
}


.grid {
  display: inline-grid;                               /*Forcing grid elements to display in-line with each other, as allowed by the width limitations and assigned positions*/
  }

.item11 {                                             /*Assigning location in first grid to exampleWide.PNG by designating start position and axial extent*/
	grid-column: 1 / 3;                                 /*Signifies element should begin at Column-line #1 and end before Column-line #3*/
	grid-row: 1 / 2;                                    /*Signifies element should begin at Row-line #1 and end before Row-line #3*/
}

.item22 {                                             /*Assigning location in first grid to paragraph beginning "This emphasis..."*/
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.item33 {                                             /*Assigning location in first grid to exampleBrowse.PNG*/
	grid-column: 3 / 5;
	grid-row: 1 / 3;                                    /*Positioning the element to occupy the same amount of vertical space as item11 and item22*/
}

.item44 {                                             /*Assigning location in second grid to exampleNarrow.PNG*/
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.item55 {                                             /*Assigning location in second grid to exampleWide.PNG*/
	grid-column: 3 / 5;
	grid-row: 1 / 2;
}

.item66 {                                             /*Assigning location in second grid to final paragraph of essay*/
	grid-column: 3 / 5;
	grid-row: 2 / 3;
}

figcaption {
  width: auto;                                        /*Setting figure captions to adjust width as their repsective parents adjust*/
  text-align: center;                                 /*Centering figure captions*/
  position: bottom;                                   /*Placing figure captions beneath images they accompany*/
  background-color: #f2b691;                          /*Establishing background color for captions*/
  color: #48362b;                                     /*Establishing text color for captions. ARTISTIC INTENT: Earthen tones, to complement images of trees in header and footer*/
  clear: both;                                        /*Ensuring captions don't float above or behind their images*/
}
